.shift {
  width: 144px;
  height: 47px;
  border: 1px solid #eaeef1;
  background-color: #fafbfb;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .shift {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
  }
}
.shift .shiftblock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shift .shiftblock p {
  margin: 0 5px;
}
.criticalnotice {
  background-color: #d0021b;
  position: relative;
  width: 130px;
  height: 47px;
  top: -52px;
  left: 130px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}
@media screen and (max-width: 480px) {
  .criticalnotice {
    position: relative;
    width: 130px;
    height: 47px;
    top: -52px;
    left: 115px;
    color: white;
    font-weight: bold;
    font-size: 10px;
  }
}
.criticalnotice p {
  position: relative;
  top: 35%;
  left: -8%;
}
.criticalnotice:hover {
  cursor: pointer;
  animation: mymove 1s;
  animation-fill-mode: forwards;
}
.lownotice {
  position: relative;
  width: 130px;
  height: 47px;
  top: -52px;
  left: 138px;
  color: white;
  font-weight: bold;
  font-size: 10px;
}
@media screen and (max-width: 480px) {
  .lownotice {
    position: relative;
    width: 130px;
    height: 47px;
    top: -52px;
    left: 125px;
    color: white;
    font-weight: bold;
    font-size: 10px;
  }
}
.lownotice div {
  position: relative;
  top: 22%;
  left: -8%;
  background-color: #f4e31c;
  height: 24px;
  line-height: 24px;
}
.lownotice div:nth-child(1) {
  background-color: #d0021b;
}
.lownotice:hover {
  cursor: pointer;
  animation: mymove 1s;
  animation-fill-mode: forwards;
}
@keyframes mymove {
  from {
    left: 130px;
  }
  to {
    left: 36px;
  }
}
